<% include ./partials/header %> 

      <div class="hero" id="highlighted">
        <div class="inner">
          <!--Slideshow-->
          <div id="highlighted-slider" class="container">
            <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
              <!--Slideshow content-->
              <!--Slide 1-->
              <div class="item">
                <div class="row">
                  <div class="col-md-6 col-md-push-6 item-caption">
                    <h2 class="h1 text-weight-light">
                        Welcome to <span class="text-primary">VeoShare</span>
                      </h2>
                    <h4>
                        Your remote hangout with friends and family. Fun, organized and convenient!
                      </h4>
                    <p>Want to watch your favourite TV show with your Best Friend across the globe? Want to have a movie night without stepping out?
                      We are here for you. To keep you connected despite the distance.
                    </p>
                  </div>
                  <div class="col-md-6 col-md-pull-6 hidden-xs">
                    <img src="img/slides/slide1.png" alt="Slide 1" class="center-block img-responsive">
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


<% include ./partials/footer %>
    
                                        