<% include ./partials/header  %>

<h1>Index page</h1>

<% events.forEach(function(event){%>
    <div class="ui relaxed divided list"> 
  <div class="item">
     <div class="content"> 
       <a class="header"><%=event.title %></a>
       <a class="header"><%=event.time %></a> 
    </div> 
   </div>
 </div>
 <% }) %>
 
 <div>
 <form action="/events" method="POST">
     <input type="text" name="event[title]" placeholder="title">
     <input type="text" name="event[time]" placeholder="time">
     <input type="submit">
</form>
</div>

<% include ./partials/footer  %>