<% include ./partials/header %>

<!-- <section class="engine"><a href="https://mobirise.co/o">bootstrap button</a></section> -->

<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-parallax-background mbr-after-navbar" id="form1-1f" data-rv-view="3500" style="background-image: url(/assets/images/mbr-1-1620x1080.jpg);">
    
    <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">Login</h2>
                        </div>
                        
                        <form action="/login" method="POST">
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" required="" placeholder="Name*">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" required="" placeholder="Password*">
                            </div>
                            
                            <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-danger">Login</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smooth-scroll/smooth-scroll.js"></script>
  <!--[if lte IE 9]>
    <script src="assets/jquery-placeholder/jquery.placeholder.min.js"></script>
  <![endif]-->
  <script src="/assets/jarallax/jarallax.js"></script>
  <script src="/assets/mobirise/js/script.js"></script>
  <script src="/assets/dropdown-menu/script.js"></script>
  <script src="/assets/formoid/formoid.min.js"></script>
  
  
</body>
</html>