<form action="/addmovie" method="POST">
    <li><input type="text" name="name" value="<%= name%>"></li>
    <li><input type="text" name="image"  value="<%= img%>"></li>
    <li><input type="text" name="link" placeholder="link"></li>
    <input type="submit" >
    </form>