#dropdown-menu-2btn-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2 .nav .link,
#dropdown-menu-2btn-2 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-2 .navbar,
#dropdown-menu-2btn-2 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2 .dropdown-menu a:hover,
#dropdown-menu-2btn-2 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-2 .navbar-toggler {
  color: #ffffff;
}
#header4-0 H1 {
  text-align: right;
}
#header4-0 P {
  text-align: right;
}
#dropdown-menu-2btn-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-17 .nav .link,
#dropdown-menu-2btn-17 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-17 .navbar,
#dropdown-menu-2btn-17 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-17 .dropdown-menu a:hover,
#dropdown-menu-2btn-17 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-17 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-m .nav .link,
#dropdown-menu-2btn-m .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-m .navbar,
#dropdown-menu-2btn-m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-m .dropdown-menu a:hover,
#dropdown-menu-2btn-m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-m .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-g .nav .link,
#dropdown-menu-2btn-g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-g .navbar,
#dropdown-menu-2btn-g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-g .dropdown-menu a:hover,
#dropdown-menu-2btn-g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-g .navbar-toggler {
  color: #ffffff;
}
#gallery1-k SMALL {
  text-align: center;
}
#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-r .nav .link,
#dropdown-menu-2btn-r .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-r .navbar,
#dropdown-menu-2btn-r .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-r .dropdown-menu a:hover,
#dropdown-menu-2btn-r .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-r .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-x .nav .link,
#dropdown-menu-2btn-x .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-x .navbar,
#dropdown-menu-2btn-x .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-x .dropdown-menu a:hover,
#dropdown-menu-2btn-x .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-x .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-z .nav .link,
#dropdown-menu-2btn-z .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-z .navbar,
#dropdown-menu-2btn-z .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-z .dropdown-menu a:hover,
#dropdown-menu-2btn-z .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-z .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-13 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-13 .nav .link,
#dropdown-menu-2btn-13 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-13 .navbar,
#dropdown-menu-2btn-13 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-13 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-13 .dropdown-menu a:hover,
#dropdown-menu-2btn-13 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-13 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-v .nav .link,
#dropdown-menu-2btn-v .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-v .navbar,
#dropdown-menu-2btn-v .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-v .dropdown-menu a:hover,
#dropdown-menu-2btn-v .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-v .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2btn-15 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-15 .nav .link,
#dropdown-menu-2btn-15 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-15 .navbar,
#dropdown-menu-2btn-15 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2btn-15 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-15 .dropdown-menu a:hover,
#dropdown-menu-2btn-15 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2btn-15 .navbar-toggler {
  color: #ffffff;
}
