<h1>Trailers Page</h1>

<% data["results"].forEach(function(searchResult){ %>
    <li>
        <%console.log(searchResult.key)%>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=searchResult.key %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </li>
<% }); %>


    